.slider
	nav
		ul
			li
				p Выбирайте:
			li.active
				a(href="#") Пиво
			li
				a(href="#") Пивосодержащие напитки
			li
				a(href="#") Квас
			li
				a(href="#") Вода
			li
				a(href="#") Энергетические напитки
	section
		ul
			li.adult.active
				img(src="img/assets/banner1.jpg", alt="Пиво")
			li.adult
				img(src="img/assets/banner2.jpg", alt="Пивосодержащие напитки")
			li
				img(src="img/assets/banner3.jpg", alt="Квас")
			li
				img(src="img/assets/banner4.jpg", alt="Вода")
			li.adult
				img(src="img/assets/banner5.jpg", alt="Энергетические напитки")
		a(href="#").link Перейти в каталог