@import "video";

.main {
	position: relative;	

	> section {
		width: $width;
		margin: 0 auto;
		z-index:11;
		position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	}
	
	h1 {
		font-size: 21px;
		margin: 0 0 10px 0;
		font-weight: 300;
		text-align: center;
		text-transform: uppercase;
	} 

	h2,h3 {
		margin: 0;
		padding: 0;
		text-align: center;
		font-size: 40px;
		font-weight: 500;
		color: $dBlue;
	}

	@import "blocks";
	@import "round";
}
