
.video-wrapp {
	height: 350px; 
	position: relative;	
	overflow: hidden;
	background-color: #fff;
	top:50px;
	
	&::before {
		content:'';
		position: absolute;
		width: 100%;
		background: url("../img/wave-main.png") repeat-x;
		top:0;
		left: 0;
		height: 361px;
		z-index: 7;
	}
	
	&::after {
		content:'';
		position: absolute;
		width: 100%;
		background: url("../img/wave.jpg") no-repeat;
		background-size: cover;
		background-position: 0 center;
		top:0;
		left: 0;
		height: 350px;
		z-index:1;
	}

	.video {
		z-index:5;
    text-align:center;
		width: 100%;
		min-width: 1200px;
    position:absolute;
    
    top: 50%;
		transform: translateY(-50%);;
    margin: auto;
    opacity:0;
    display: block;
    transition:opacity .3s;    
	}

	
}