@font-face {
    font-family: 'SegoUi';
    src: local('☺'),
        url('../fonts/segoeui.woff2') format('woff2'),
        url('../fonts/segoeui.woff') format('woff'),
        url('../fonts/segoeui.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'SegoUi';
    src: local('☺'),
        url('../fonts/segoeuil.woff2') format('woff2'),
        url('../fonts/segoeuil.woff') format('woff'),
        url('../fonts/segoeuil.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SegoUi';
    src: local('☺'),
        url('../fonts/segoeuisb.woff2') format('woff2'),
        url('../fonts/segoeuisb.woff') format('woff'),
        url('../fonts/segoeuisb.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SegoUi';
    src: local('☺'),
        url('../fonts/segoeuib.woff2') format('woff2'),
        url('../fonts/segoeuib.woff') format('woff'),
        url('../fonts/segoeuib.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}