doctype html
html
	meta(charset='utf-8')
	link(rel="stylesheet", href="css/style.css")
	link(rel="icon", href="img/favicon.png")
	title Контакты

	header
		section
			nav
				ul
					li
						a(href="about.html") О нас
					li
						a(href="products.html") Продукция
					li
						a(href="advantages.html") Преимущества
					li
						a(href="news.html") Новости
			.logo
				a(href="/")
					img(src="img/small-logo.png", alt="Евита")
			nav
				ul
					li
						a(href="reviews.html") Отзывы
					li
						a(href="contacts.html").active Контакты
			.phone
				p <span>+7 (4872)</span> 36-29-22
				a(href="#").feedback-phone Обратный звонок

	main.inner
		h1 Контакты
		address
			aside
				p Тула, Ханинский проезд, д.23-а
			aside
				p +7 (4872) 36-29-22
			aside
				a(href="mailto:info@evita-tula.ru") info@evita-tula.ru
		.map
			aside
				<script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=qzZDxpxCheTvPe43qCmbUQ3V-Cm0BzsO&width=100%&height=375"></script>
			
	include ./blocks/request.jade			
	include ./blocks/footer.jade