doctype html
html
	meta(charset='utf-8')
	link(rel="stylesheet", href="css/style.css")
	link(rel="icon", href="img/favicon.png")
	title Контакты

	header
		section
			nav
				ul
					li
						a(href="about.html") О нас
					li
						a(href="products.html") Продукция
					li
						a(href="advantages.html") Преимущества
					li
						a(href="news.html").active Новости
			.logo
				a(href="/")
					img(src="img/small-logo.png", alt="Евита")
			nav
				ul
					li
						a(href="reviews.html") Отзывы
					li
						a(href="contacts.html") Контакты
			.phone
				p <span>+7 (4872)</span> 36-29-22
				a(href="#").feedback-phone Обратный звонок

	main.inner
		h1 Новости
		section.news
			h2 Самое интересное в нашей жизни!
			article
				aside
					.foto
						img(src="img/assets/news.jpg")
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг. 
				aside
					.foto.foto_empty
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.
				aside
					.foto
						img(src="img/assets/news.jpg")
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.
				aside
					.foto
						img(src="img/assets/news.jpg")
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.
				aside
					.foto.foto_empty
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.
				aside
					.foto
						img(src="img/assets/news.jpg")
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.
				aside
					.foto.foto_empty
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.
				aside
					.foto
						img(src="img/assets/news.jpg")
					.info
						span 13.05.15
						a(href="news-detail.html") Почему не критично взаимодействие корпорации и клиента?
						p.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.
							Ребрендинг консолидирует рекламный клаттер. 
							По мнению ведущих маркетологов, оценка эффективности 
							кампании искажает экспериментальный стратегический маркетинг.

				//- .clear
			include ./blocks/pagination.jade

	include ./blocks/footer.jade