doctype html
html
	meta(charset='utf-8')
	link(rel="stylesheet", href="css/style.css")
	link(rel="icon", href="img/favicon.png")
	title Отзывы

	header
		section
			nav
				ul
					li
						a(href="about.html") О нас
					li
						a(href="products.html") Продукция
					li
						a(href="advantages.html") Преимущества
					li
						a(href="news.html") Новости
			.logo
				a(href="/")
					img(src="img/small-logo.png", alt="Евита")
			nav
				ul
					li
						a(href="reviews.html").active Отзывы
					li
						a(href="contacts.html") Контакты
			.phone
				p <span>+7 (4872)</span> 36-29-22
				a(href="#").feedback-phone Обратный звонок

	main.inner
		h1 Отзывы
		article.reviews
			h2 Спасибо вам за теплые слова о нашей работе!
			aside
				.foto.foto_empty
					img(src="img/reviews-foto.png")
				.info
					p Иван Иванов
					p Огромное спасибо компании Тула-реклама.Хороший дружный коллектив.Слаженно и очень качественно работают.И всегда меня выручают.Молодцы ребята,так держать! Удачи вам, процветания и больше богатых клиентов! С уважение Ваш благодарный клиент.
			aside
				.foto
					img(src="img/reviews.jpg")
				.info
					p Иван Иванов
					p И всегда меня выручают.Молодцы ребята,так держать! Удачи вам, процветания и больше богатых клиентов! С уважение Ваш благодарный клиент. Огромное спасибо компании Тула-реклама.Хороший дружный коллектив.Слаженно и очень качественно работают.И всегда меня выручают.Молодцы ребята,так держать! Удачи вам, процветания и больше богатых клиентов! С уважение Ваш благодарный клиент.
			aside
				.foto.foto_empty
					img(src="img/reviews-foto.png")
				.info
					p Иван Иванов
					p Огромное спасибо компании Тула-реклама.Хороший дружный коллектив.Слаженно и очень качественно работают.И всегда меня выручают.Молодцы ребята,так держать! Удачи вам, процветания и больше богатых клиентов! С уважение Ваш благодарный клиент.
			aside
				.foto
					img(src="img/reviews.jpg")
				.info
					p Иван Иванов
					p И всегда меня выручают.Молодцы ребята,так держать! Удачи вам, процветания и больше богатых клиентов! С уважение Ваш благодарный клиент. Огромное спасибо компании Тула-реклама.Хороший дружный коллектив.Слаженно и очень качественно работают.И всегда меня выручают.Молодцы ребята,так держать! Удачи вам, процветания и больше богатых клиентов! С уважение Ваш благодарный клиент.
			
			include ./blocks/pagination.jade
			.reviews-form
				h3 Поделитесь своими впечатлениями!
				p
					Авторизуйтесь, чтобы добавить отзыв
					a(href="#").social.social_fb
					a(href="#").social.social_vk
					a(href="#").social.social_tw
					a(href="#").social.social_od
					a(href="#").social.social_gg
				form(action="")
					textarea(name="text")
					input(type="submit" value="Отправить")

	include ./blocks/footer.jade